@font-face {
  font-family: "Light";   
  src: local("diablo"),
    url("./assets/fonts/diablo.ttf") format("truetype");
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  user-select: none;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: brightness(60%);
    z-index: -2;
}

.wrapper {
  width: 300px;
  height: 300px;
  color: black;
  background-color: white;
  opacity: 0.8;
  width: 80%;
  
}

.chrisey {
  color: black;
  font-family: 'Light';
}



@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    text-align: center;
    
  }
}