@font-face {
  font-family: "diablo";   
  src: local("diablo"),
    url("./assets/fonts/diablo.ttf") format("truetype");
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  user-select: none;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: brightness(90%);
    z-index: -2;
}

.wrapper {
  width: 300px;
  height: 300px;
  color: black;
  background-color: white;
  opacity: 0.9;
  width: 60%;
  min-height: 70vh;
  z-index: 2;
  position: absolute;
  
}

.chrisey {
  color: black;
  font-family: 'Light';
  
}

.form-label {
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    text-align: center;
    min-height: 70vh;
    
  }
  .modal-content {
    width: 80%;
    margin: auto;
  
  }
    
  
}

.form-container {
  background-color: white;
}

.modal-content {
  opacity: 0.9;
}

.form-controll {
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


